body {
	background-color: #999;
}
div {
	padding-top: 50px;
	text-align: center;
}
h1 {
	padding-top: 50px;
	text-align: center;
}
div button {
	/*width: 20%;
	position: absolute;
	left: 360px;*/
	margin: 0 auto;
	width: 100px;
}
button {
	font-size: 14px;
	color: blue;
	background-color: red;
	padding: 12px;
	border-radius: 15px;
	text-decoration: none;
	border: 3px groove;

}